*.so filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.jmod filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.exe !text !filter !merge !diff
*.dll !text !filter !merge !diff
*.zip !text !filter !merge !diff
*.so !text !filter !merge !diff
*.dylib !text !filter !merge !diff
*.jmod !text !filter !merge !diff
*.7z !text !filter !merge !diff
ffmpeg !text !filter !merge !diff
ffplay !text !filter !merge !diff
ffprobe !text !filter !merge !diff
mp4art !text !filter !merge !diff
mp4info !text !filter !merge !diff
